
body {
	font-family: sans;
	background-color: #f2f2fa;
}

.cell {
	width: 7px;
	height: 7px;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}

.cell:hover {
	outline: thin red solid;
}

button > img {
	vertical-align: bottom;
	margin-right: 0.3em;
}

#main {
	display: inline-block;
	border: thin black solid;
	float: left;
	background-color: white;
}


#sidebar {
	display: inline-block;
	float: left;
	margin-left: 1em;
}

#rules {
	max-width: 400px;
}

#rules li {
	margin: 1.3em 0;
}

@media screen and (max-width: 1130px) {
	#rules {
		float: left;
	}
	#examples {
		float: left;
	}
}

#grid {
	display: inline-block;
	border: thin black solid;
	min-height: 2em;
}

#grid > div {
	padding: 0;
	margin: 0;
	height: 7px;
}

.black {
	background-color: black;
}

#root {
	margin-left: auto;
	margin-right: auto;
	max-width: 1130px;
}
